<!DOCTYPE html>
<html lang="zh">
<head>
    <link rel="stylesheet" type="text/css" href="asset/index.css"/>
    <meta charset="UTF-8">
    <title>manga-remake</title>
    <script src="asset/vue.min.js"></script>
    <link rel="stylesheet" href="./asset/element-ui@2.15.14.css">
    <script src="asset/element-ui@2.15.14.js"></script>
</head>
<body>
<div id="app">
    <div style="display: flex; align-items: center;">
        <el-input v-model="config.match_to_dir" size="small" style="width:400px;"
                  placeholder="要匹配哪些（例：D:/images/vol.01）">
            <template slot="prepend">📂</template>
        </el-input>
        <el-input v-model="config.match_from_dir" size="small" style="width:400px;"
                  placeholder="从哪里匹配（例：D:/images/vol.01.zh）">
            <template slot="prepend">📂</template>
        </el-input>
        <el-divider direction="vertical"></el-divider>
        <el-button type="primary" size="small" @click="startMatch" :disabled="btnDisable">开始匹配</el-button>
        <el-divider direction="vertical"></el-divider>
        <el-switch v-model="displayAll" active-text="显示所有匹配率"></el-switch>
        <el-divider direction="vertical"></el-divider>
        <el-button type="primary" size="small" @click="configDialogShow = true" style="padding: 2px 5px;">
            <img src="asset/config.png" alt="config" style="height: 20px">
        </el-button>
    </div>
    <div class="content-container">
        <div v-if="match_groups.length > 0">
            <div style="border-radius: 5px 5px 0 0; text-align: center; background-color: #98de87; font-size: 18px; padding: 2px 0;">
                匹配结果
                <span>{{match_groups_result.length}}</span>
            </div>
            <div class="match-group-box" style="border: 1px solid #98de87;">
                <div class="row-box" v-for="(item, index) in match_groups" :key="index"
                     v-if="item['matchRatio'] >= config.similar_threshold || displayAll">
                    <div class="img-with-name">
                        <div class="img-name-box">{{item['raw']}}</div>
                        <div class="img-box"
                             :style="{width: config.imgMaxWidth + 'px', height: config.imgMaxHeight + 'px'}">
                            <img :src="resolveImgUrl(item['raw'], match_to_dir)" alt="111" loading="lazy">
                        </div>
                    </div>
                    <div style="width: 100px;">
                        <div v-if="item['match']" style="width: 100px;">
                            <div class="match-ratio-num">{{item['matchRatio'].toFixed(4)}}</div>
                            <img src="asset/arrow.png" alt="arrow">
                            <div style="width: 100%; display: flex; flex-direction: row-reverse;">
                                <el-button type="danger" size="mini" @click="clearMatch(index)">取消</el-button>
                            </div>
                        </div>
                    </div>
                    <div class="img-with-name">
                        <div class="img-name-box">{{item['match']}}</div>
                        <div class="img-box"
                             :style="{width: config.imgMaxWidth + 'px', height: config.imgMaxHeight + 'px'}"
                             @dragover.prevent="imageDragOver($event)"
                             @drop="imageDrop($event, index)">
                            <img v-if="item['match']" :alt="item['match']" loading="lazy"
                                 :src="resolveImgUrl(item['match'], match_from_dir)">
                            <span v-else class="img-box-placeholder">?</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="match_from_list.length > 0" class="match-from-images">
            <div style="border-radius: 5px 5px 0 0; text-align: center; background-color: #f1a57d; font-size: 18px; padding: 2px 0;">
                手动匹配
            </div>
            <el-button type="primary" size="small" @click="match_from_listShow = !match_from_listShow">
                {{ match_from_listShow ? '显示匹配源' : '隐藏匹配源' }}
            </el-button>
            <div class="image-select-box" style="border: 1px solid #f1a57d;" v-if="match_from_listShow">
                <div class="row-box" v-for="(item, index) in match_from_list" :key="index">
                    <div class="img-with-name">
                        <div class="img-name-box">{{item}}</div>
                        <div class="img-box"
                             :style="{width: config.imgMaxWidth + 'px', height: config.imgMaxHeight + 'px'}"
                             draggable="true"
                             @dragstart="imageDragStart($event, item)">
                            <img :alt="item" loading="lazy" :src="resolveImgUrl(item, match_from_dir)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="match_groups.length > 0" style="min-width: 200px; margin-left: 23px;">
            <div style="border-radius: 5px 5px 0 0; text-align: center; background-color: #78b3ff; font-size: 18px; padding: 2px 0;">
                执行任务
            </div>
            <div class="match-group-box" style="border: 1px solid #78b3ff; height: 600px; padding: 5px;">
                <el-button type="primary" size="small" @click="startPS" :disabled="btnDisable">发送任务到PS</el-button>
            </div>
        </div>
    </div>
    <el-dialog
            title="设置"
            :visible.sync="configDialogShow"
            @open="configDialogOpen()"
            custom-class="dialog-custom-class"
            top="10vh"
            width="600px">
        <el-divider content-position="left">图片匹配参数</el-divider>
        <el-input v-model.number="configTemp.similar_threshold" step="0.01" type="number" size="small"
                  style="width:200px;">
            <template slot="prepend">匹配阈值</template>
        </el-input>
        <el-divider content-position="left">网页图片宽高</el-divider>
        <el-input v-model.number="configTemp.imgMaxWidth" size="small" style="width:200px;">
            <template slot="prepend">图片宽度</template>
        </el-input>
        <br>
        <el-input v-model.number="configTemp.imgMaxHeight" size="small" style="width:200px;">
            <template slot="prepend">图片高度</template>
        </el-input>
        <el-divider content-position="left">PSD生成</el-divider>
        <el-switch v-model="configTemp.maskUseCPU" active-text="使用CPU生成MASK"></el-switch>
        <br>
        <el-input v-model.number="configTemp.maskTempDir" size="small" style="width:500px;"
                  placeholder="留空默认在temp_mask">
            <template slot="prepend">MASK临时存储文件夹</template>
        </el-input>
        <br>
        <el-switch v-model="configTemp.autoGray" active-text="识别黑白图并转灰度"></el-switch>
        <br>
        <el-switch v-model="configTemp.colorLv" active-text="修改上层图片色阶"></el-switch>
        <br>
        <div style="margin-left: 5px;" v-if="configTemp.colorLv">
            <el-input v-model.number="configTemp.colorLvBlack" size="small" style="width:150px;">
                <template slot="prepend">黑场</template>
            </el-input>
            <el-input v-model.number="configTemp.colorLvWhite" size="small" style="width:150px;">
                <template slot="prepend">白场</template>
            </el-input>
            <el-input v-model.number="configTemp.colorLvGray" step="0.1" type="number" size="small"
                      style="width:150px;">
                <template slot="prepend">灰场</template>
            </el-input>
            <br>
        </div>
        <el-switch v-model="configTemp.blurFilter" active-text="上层图片表面模糊"></el-switch>
        <br>
        <div style="margin-left: 5px;" v-if="configTemp.blurFilter">
            <el-input v-model.number="configTemp.blurFilterRadius" step="0.1" type="number" size="small"
                      style="width:150px;">
                <template slot="prepend">半径</template>
            </el-input>
            <el-input v-model.number="configTemp.blurFilterThreshold" step="0.1" type="number" size="small"
                      style="width:150px;">
                <template slot="prepend">阈值</template>
            </el-input>
            <br>
        </div>
        <el-switch v-model="configTemp.USMFilter" active-text="上层图片USM锐化"></el-switch>
        <br>
        <div style="margin-left: 5px;" v-if="configTemp.USMFilter">
            <el-input v-model.number="configTemp.USMFilterQuantity" size="small" style="width:150px;">
                <template slot="prepend">数量</template>
            </el-input>
            <el-input v-model.number="configTemp.USMFilterRadius" step="0.1" type="number" size="small"
                      style="width:150px;">
                <template slot="prepend">半径</template>
            </el-input>
            <el-input v-model.number="configTemp.USMFilterThreshold" step="0.1" type="number" size="small"
                      style="width:150px;">
                <template slot="prepend">阈值</template>
            </el-input>
            <br>
        </div>
        <el-switch v-model="configTemp.UseAction" active-text="保存前执行动作"></el-switch>
        <div style="margin-left: 5px;" v-if="configTemp.UseAction">
            <br>
            <el-input v-model="configTemp.UseActionGroup" size="small" style="width:150px;" placeholder="动作所在分组">
            </el-input>
            <span>—</span>
            <el-input v-model="configTemp.UseActionName" size="small" style="width:150px;" placeholder="动作名">
            </el-input>
        </div>
        <span slot="footer" class="dialog-footer">
            <el-button type="primary" @click="configDialogOk()" size="small">确 定</el-button>
        </span>
    </el-dialog>
</div>
<script src="asset/index.js"></script>
</body>
</html>